
<br><br>
<div class="contain mt-3 mb-5 p-4">
  <br>

  <!-- trending movies  -->
  <div class="row" style="overflow-x: auto">
    <h4 class="text-black">Box Office Movies</h4>
    <div class="rowposter mt-3 p-2 trending-movie">
      <ng-container *ngFor="let t of trendingMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="Image not available"
             [routerLink]="['/movie',t.id]">
      </ng-container>

    </div>

  </div>

  <!-- comedy movies  -->
  <div class="row mt-4" style="overflow-x: auto">
    <h4 class="text-black">Comedy Movies</h4>
    <div class="rowposter mt-3 p-2 comedy-movie">
      <ng-container *ngFor="let c of comedyMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ c.poster_path }}" class="rowimg largeposter" alt="Image Not available"
             [routerLink]="['/movie',c.id]">
      </ng-container>

    </div>

  </div>

  <!-- thriller movies  -->
  <div class="row mt-4" style="overflow-x: auto">
    <h4 class="text-black">Thriller Movies</h4>
    <div class="rowposter mt-3 p-2 thriller-movie">
      <ng-container *ngFor="let th of thrillerMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ th.poster_path }}" class="rowimg largeposter" alt="Image not available"
             [routerLink]="['/movie',th.id]">
      </ng-container>

    </div>

  </div>

</div>
