<!--<form (ngSubmit)="login()">-->
<!--  <label for="email">Email:</label>-->
<!--  <input type="email" id="email" [(ngModel)]="email" required />-->
<!--  <div *ngIf="invalidEmailFormat">Invalid email format</div>-->

<!--  <label for="password">Password:</label>-->
<!--  <input type="password" id="password" [(ngModel)]="password" required />-->

<!--  <button type="submit">Login</button>-->
<!--</form>-->
<!-- signin-card.component.html -->

<!--<div class="login-card">-->
<!--  <h2>Sign in to MovyApp</h2>-->
<!--  <form>-->
<!--    <div class="form-group">-->
<!--      <label for="email">Email:</label>-->
<!--      <input type="email" id="email" name="email" [(ngModel)]="email" required />-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="password">Password:</label>-->
<!--      <input type="password" id="password" name="password" [(ngModel)]="password" required />-->
<!--    </div>-->
<!--    <button type="submit">Sign in</button>-->
<!--  </form>-->
<!--</div>-->
<div>
  <app-login></app-login>
</div>
